<head>
    <title>Web Project</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <script src="./js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <div>WEB2 PROJECT</div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <% if (user.isAuthenticated) { %>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/sign-up">Log in</a>
            </li>
          <% }  %>
        </ul>
      </div>
    </div>
  </nav>

