<!DOCTYPE html>
<html>

    <%- include('header.ejs') %>

<main>
    <div class="container">
        <div class="row">
            <div class="py-2 col text-center">
                <button type="button" class="btn btn-green" onclick="getLocation()">Display coordinates</button>
                <br/>
                <div class="p-2" id="location"></div>
            </div>  
        </div>

        <div class="row">
            <div class="py-2 col text-center">
                <button type="button" class="btn btn-green" onclick="openStreetMapsLocate()">Show location on a map</button>
                <br/>
                <div class="p-2" id="mapdiv">
                    <p id = "status"></p>
                    <a id = "map-link" target="_blank"></a>
                </div>
            </div>  
        </div>
    </div>
</main>

<footer>
    <script src="./scripts/main.js"></script>
</footer>

</html>