<!DOCTYPE html>
<html>

    <%- include('header.ejs') %>

<main>
    <div class="container">
        <div class="row">
            <div class="py-2 col text-center">
                Welcome, <%= user.name %>!
            </div>  
        </div>


        <div id="mapContainer" class="mapContainer text-center">
            Locations of last 5 users
            <div id="map" class="map"><div id="popup"></div></div>
        </div>
</main>

<footer>
    <script>
        var user = '<%- JSON.stringify(user) %>'
    </script>
    <script src="./scripts/profile.js"></script>

</footer>

</html>