.navbar {
  background-color: rgb(14, 95, 14);
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: gainsboro !important;
}

.navbar-brand:hover {
  color: gainsboro !important;
}

.btn-green{
  background-color: rgb(14, 95, 14);
  color: white;
}

.btn-green:hover {
  color: gainsboro;
}

.btn:focus {
  box-shadow: none;
}

.map {
  height: 400px;
  width: 100%;
  border-style: solid;
  border-width: 5px;
}

.mapContainer {
  height: 500px;
  width: 100%;
}